extends layout

block content  
    h3 Current list of Activities 
    ul
        each Activity in {Activities}
            li= Activity

    H3 Adding details to your activity
    form(action="/api/activites/complete", method="post")
        p Count 
            input(type="number", name="Count", placeholder="miles, steps, etc.")
        button Add Count and Date

    