extends layout

block content
    nav
        a.Home(href="/home") Home
        a.yourActivities(href="/useractivity") Your Activities
        a.logout(href="/logout") Logout

    div.everything
        h1.welcome Welcome #{title}

        div.home 
            hr  
            h3 Creating a new Activity
            form(action="/api/activities", method="post")
                p Activity Name 
                    input(type="text", name="ActivityName", placeholder="Activity")
                button Create Activity

        div.home 
            hr
            h3 Current list of Activities able to add to your Activity List App
            table
                each activity in activities
                    td= activity.ActivityName 
                    td
                        button.activityClick(onclick="selectActivity(this)", data-id=activity.id, data-name=activity.ActivityName) select

        div.home 
            hr
            h3 Adding details to your activity
            p Select from above to add an activity to track or delete an activity.
            form(action="/api/activities/tracking", method="post")
                p Count  
                    input(type="number", name="Count", placeholder="miles, steps, etc.")
                    input.activityId( name="activityId", type="hidden")
                p.selectedActivityName
                button Add Count and Date

        div.home
            hr
            h3 Deleting an Activity From the Current List
            form(action="/api/activities/delete", method="post")
                input.activityId(name="activityId", type="hidden")
                p.selectedActivityName
                button Delete
    
    



