extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post")
    p Username: 
      input(type="text", name="username", placeholder="username")
    p Password:  
      input(type="text", name="password", placeholder="password")
    button(type="submit")
      span Login
  br
  a(href="/signup")
    span Create your Account