//- extends layout

//- block content
//-     div
//-         h3 List of Activitiies I am tracking
//-         ul
//-             each activity in activities
//-                 li= activity.ActivityId 
