extends layout

block content
    div
        h2= title
        h3 List of Activitiies I am tracking
        ul
            each activity in activitiesDones
                h4 Activity ID
                a(href=`/useractivity/${id}`)
                    li= activity.ActivityId
                
