extends layout

block content
    div
        h3 List of Activitiies I am tracking
        ul
            each activity in activitiesDones
                li= activity.ActivityId
                li= activity.Count
                li= activity.DateCompleted
                
