extends layout

block content
    nav
        a.home(href="/home") Home
        a.yourActivities(href="/useractivity") Your Activities
        a.logout(href="/logout") Logout
    div
        h2= title
        h3 List of Activitiies I am tracking
        ul
            each activity in activitiesDones
                h4 Activity ID
                a(href=`/useractivity/${activity.ActivityId}`)
                    li= activity.ActivityId
                