extends layout

block content
    nav
        a.Home(href="/home") Home
        a.yourActivities(href="/useractivity") Your Activities
        a.logout(href="/logout") Logout
    
    div.everything
        h2.List List of Activities I am tracking
        hr
        h4.userActId Activity ID
        ul
            each activityDone in myActivities
                a(href=`/useractivity/${activityDone.id}`)
                    li.activityList= activityDone.ActivityName
                