extends layout

block content
    div
        h2= title
        a(href="/home") Home
        h3 List of Activitiies I am tracking
        ul
            each activity in activitiesDones
                h4 Activity ID
                a(href=`/useractivity/${activity.ActivityId}`)
                    li= activity.ActivityId
                