body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(0, 119, 255);
  padding: 1em;
}

hr {
  margin-bottom: .1em;
}

h3 {
  margin-top: .1em;
}

ul {
  padding-left: 1.75em;
  margin-top: .5em;
}

button {
  background-color: rgb(65, 123, 247);
  border-radius: .25em;
  color: white;
  border-style: none;
}

a:hover {
  color: black;
}

.yourActivities {
  margin-right: 1em;
  text-decoration: none;
  color: white;
}

.Home {
  margin-right: 1em;
  text-decoration: none;
  color: white;
}

.logout {
  text-decoration: none;
  margin-right: .5em;
  color: white;
}

.everything {
  padding: .5em;
  background-color: rgb(236, 232, 232);
  height: 100vh;
}

.loginAndSignUp {
  background-color: rgb(236, 232, 232);
  height: 100vh;
  padding: .5em;  
}

.welcome {
  margin-top: 0.25em;
}

.List {
  margin-top: 0.25em;
  margin-bottom: .25em;
}

.loginAndSignUpTitle {
  margin-top: 0;
}

.activityClick {
  margin-right: 1em;
  background-color: rgb(131, 238, 145);
}

.home {
  margin-top: 3em;
}

.userActId {
  margin-bottom: .25em;
  margin-top: 1.5em;
}

.specificActivityList {
  margin-top: 1.5em;
}

.updateActivity {
  margin-left: .5em;
}

.delete {
  background-color: red;
}